@charset "UTF-8";

@keyframes boxUp {
    0% {transform: translateY(0);}
    100% {transform: translateY(-51vh);}
}
@keyframes boxDown {
    0% {transform: translateY(0);}
    100% {transform: translateY(51vh);}
}

@keyframes textUp {
    0% {transform: translateY(10vh); opacity: 0;}
    100% {transform: translateY(0px); opacity: 1;}
}

@keyframes logo {
    0% {width: 0px; height: 0px;}
    100% {width: 7.3vw; height: 13.5vh;}
}

@keyframes point {
    0% {width: 0vw; height: 8.0208vw; opacity: 0;}
    100% {width: 30vw; height: 8.0208vw; opacity: 1;}
}

@keyframes star1 {
    0% {width: 0vw; height: 0vw;}
    100% {width: 5.8854vw; height: 6.0417vw;}
}
@keyframes star2 {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
@keyframes mainCha {
    0% {width: 12.8646vw; height: 0vw;}
    90% {width: 12.8646vw; height: 9vw;}
    100% {width: 12.8646vw; height: 8.2813vw;}
}
@keyframes eyesmove {
    0% {top: -5.2vh; left: 9.7vw;}
    40% {top: -5.2vh; left: 9.7vw;}
    45% {top: -3.5vh; left: 9vw;}
    95% {top: -3.5vh; left: 9vw;}
    100% {top: -5.2vh; left: 9.7vw;}
}

@keyframes rotate {
    0% {transform: rotate(0deg);}
    50% {transform: rotate(360deg);}
    100% {transform: rotate(0deg);}
}
@keyframes opa {
    0% {opacity: 1;}
    25% {opacity: 0.2;}
    50% {opacity: 1;}
    75% {opacity: 0.2;}
    100% {opacity: 1;}
}

@keyframes bannermove {
  0% {
      transform: translateX(0);
  }
  100% {
      transform: translateX(-4080px);
  }
}
